 {{> navbar}}

<div class="div-flex-center bg-cuevana hh">
    <div class="div-items-around">
<h3>Accede a tu cuenta </h3>
<form action="/acceder" method="POST" class="form-entrar">

    <div class="form-acceder">
        <input name="correo" type="email" placeholder="ingresa tu email">
    <input name="contraseña" type="password" placeholder="password">
<button class="btnh">Aceptar</button>
    </div>
</form>
<a href="/registro" class="link">Aún no tengo cuenta</a>

    </div>
</div>