 {{> navbar}}
<div class="div-flex-center bg-cuevana hh ">
    <div class="div-items-around">
        <h1 class="animate__animated animate__backInLeft">Barberia</h1>
        <a href="/" class="btn-cuevana animate__animated animate__backInLeft">LA CUEVA</a>
        <p class="txt animate__animated animate__backInLeft">consiente a tu barba con <br> un tratamiento especial</p>
    </div>
</div>