{{> navbarlog}}

<div class="div-flex-center bg-cuevana hh ">
    <div class="div-items-around">
       <!-- <h1 class="animate__animated animate__backInLeft">Barberia</h1>
        <a href="/indexlog" class="btn-cuevana animate__animated animate__backInLeft">LA CUEVANA</a>
        <p class="txt animate__animated animate__backInLeft">consiente a tu barba con <br> un tratamiento especial</p>-->
        <h1>Hola bienvenido a la cueva <br>{{this.nombre}}</h1>
          
          <a href="/index/{{this.id}}/servicios" class="btn-cuevana ">Ver servicios</a>
          
           <a href="/index/{{this.id}}/cita" class="btn-cuevana ">Agendar una cita</a>
    </div>
</div>