 {{> navbarlog}}
<div class=" bg-cuevana">
  <h1 style="text-align: center;">servicios</h1>
  <div class="content-cards">
    <div class="card animate__animated animate__zoomIn">
      <div class="img-cabello img"></div>
      <h3>Corte de cabello</h3>
      <p>Este servicio incluye  un corte de cabello completo y personalizado,
        <span>Tiempo estimado</span>
        :40 minutos
      </p>
      <a href="/index/{{this.id}}/cita" class="btn-form-a btnh">Agendar una cita</a>
    </div>
    <div class="card animate__animated animate__zoomIn">
      <div class="img-barba img" ></div>
      <h3>Barba</h3>
      <p>Para aquellos que desean un cuidado espedifico de la barba, ofrecemos un servicio de barba
        <span>de 25 minutos</span>
       
      </p>
      <a href="/index/{{this.id}}/cita" class="btn-form-a btnh">Agendar una cita</a>
    </div>
    <div class="card animate__animated animate__zoomIn">
      <div class="img-ceja img"></div>
      <h3>ceja</h3>
      <p>El servicio de ceja se centra en el diseño y arreglo de las cejas co una duración
        <span>de 10 minutos</span>
        
      </p>
      <a href="/index/{{this.id}}/cita" class="btn-form-a btnh">Agendar una cita</a>
    </div>
    <div class="card animate__animated animate__zoomIn">
      <div class="img-ritual img"></div>
      <h3>Ritual de barba</h3>
      <p>Nuestro ritual de barba es un servicio completo 
        <span>de 50 minutos</span> que ofrece un corte de barba, ceja, toallas calientes, escencia, masaje y bebida de cortesia
        
      </p>
      <a href="/index/{{this.id}}/cita" class="btn-form-a btnh">Agendar una cita</a>
    </div>

  </div>
  
</div>