<div class="nav ">
    <div class="img-nav" style="width: 100px; height:100px;"></div>

        <nav>
           
                <a href="/admin/table"><i class="fa-solid fa-house"></i>Inicio</a>
                <a href="/diasAdministrador" ><i class="fa-solid fa-calendar-days"></i>Dias Laborales</a>
                <a href="/acceder"><i class="fa-solid fa-right-to-bracket"></i>Exit</a>
           
        </nav>
</div>