<div class="nav ">
    <div class="img-nav" style="width: 100px; height:100px;"></div>

        <nav>
           
                <a href="/"><i class="fa-solid fa-house"></i>Inicio</a>
                <a href="/agendar/{{usuario.id}}" ><i class="fa-solid fa-calendar-days"></i>Agendar citas</a>
                <a href="/servicios"><i class="fa-solid fa-scissors"></i>Servicios</a>
                <a href="/acceder"><i class="fa-solid fa-right-to-bracket"></i>Inicias sesion</a>
           
        </nav>
</div>