<div class="nav">
    <div class="img-nav" style="width: 100px; height:100px;"></div>

        <nav>
           
                <a href="/index/{{this.id}}"><i class="fa-solid fa-house"></i>Mi perfil</a>
                <a href="/index/{{this.id}}/cita" ><i class="fa-solid fa-calendar-days"></i>Agendar citas</a>
                <a href="/index/{{this.id}}/servicios"><i class="fa-solid fa-scissors"></i>Servicios</a>
                <a href="/index/{{this.id}}/salir"><i class="fa-solid fa-right-to-bracket"></i> cerrar secsion</a>
           
        </nav>
</div>